.antifacho img {
    max-height: 240px;
    width: auto !important;
}

.antifacho table {
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

.antifacho td,
.antifacho td {
    padding: 10px;
}